<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /todolist
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /todolist/index.php [L]
</IfModule>